{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
 <div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-large btn-primary" href="{% url 'GraficoLTBar' %}">GraficoLTBar &raquo;</a></p>
        <p><a class="btn btn-large btn-primary" href="{% url 'GraficoLTScatter' %}">GraficoLTScatter &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-large btn-primary" href="{% url 'GrafigoScatterCasos' %}">GrafigoScatterCasos &raquo;</a></p>
        <p><a class="btn btn-large btn-primary" href="{% url 'GrafigoBarraCalor' %}">GrafigoBarraCalor &raquo;</a></p> 
    </div>
 </div>
</div> 

{% endblock %}
