{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
 <div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-large btn-primary" href="{% url 'GraficoLTBarMensal' %}">GraficoLTBarMensal &raquo;</a></p>
        <p><a class="btn btn-large btn-primary" href="{% url 'GraficoLTScatterMensal' %}">GraficoLTScatterMensal &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-large btn-primary" href="{% url 'GrafigoBarraMortePais' %}">GrafigoBarraMortePais &raquo;</a></p>
        <p><a class="btn btn-large btn-primary" href="{% url 'GrafigoBarraCasosPais' %}">GrafigoBarraCasosPais &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-large btn-primary" href="{% url 'GrafigoBarraPorcentagemCurados' %}">GrafigoBarraPorcentagemCurados &raquo;</a></p>
        <p><a class="btn btn-large btn-primary" href="{% url 'GraficoBarPorcentagemMortosCasos' %}">GraficoBarPorcentagemMortosCasos &raquo;</a></p>
        <p><a class="btn btn-large btn-primary" href="{% url 'GraficoBarPorcentagemMortosCasos' %}">GraficoBarPorcentagemMortosCasos &raquo;</a></p> 
    </div>
     <div class="col-md-4">
        <p><a class="btn btn-large btn-primary" href="{% url 'GraficoScatterPorcentagemCasos' %}">GraficoScatterPorcentagemCasos &raquo;</a></p> 
        <p><a class="btn btn-large btn-primary" href="{% url 'GraficoScatterPorcentagemCasosMortes' %}">GraficoScatterPorcentagemCasosMortes &raquo;</a></p> 
    </div> 
    <div class="col-md-4">
        <p><a class="btn btn-large btn-primary" href="{% url 'GrafigoScatterCasos' %}">GrafigoScatterCasos &raquo;</a></p>
        <p><a class="btn btn-large btn-primary" href="{% url 'GrafigoBarraCalor' %}">GrafigoBarraCalor &raquo;</a></p>  
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-large btn-primary" href="{% url 'GraficoBarraCalorPorcentagem' %}">GraficoBarraCalorPorcentagem &raquo;</a></p> 
    </div>
 </div>
</div> 

{% endblock %}
